.stork-result a:link {
  font-weight: 400;
}

.stork-result .stork-title {
  margin-bottom: 0.4em;
}

.stork-result .stork-excerpt {
  margin-bottom: 0.4em;
}

.stork-result a:link,
.stork-result a:visited {
  padding: 0.4rem 1rem;
}
